.body {background-color: green;
    
}


.topleft {background-color:yellow;
        height:350px;
        width:25%;}

.topmiddle {background-color:black;
      height:350px;
      width: 50%;
      }
      
.topright {background-color:red;
            height:350px;
            width:25%;
            float: right;
            }


.toptext {color: black;
        font-family: Helvetica, sans-serif;
        
        
        
        
}
          

      
    
}
